<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>隐私空间</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>dark152x152</string>
					<string>dark167x167</string>
					<string>dark128x128</string>
					<string>dark120x120</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>orange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>orange152x152</string>
					<string>orange167x167</string>
					<string>orange128x128</string>
					<string>orange120x120</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ShareMenuModule</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CodePushDeploymentKey</key>
	<string>$(CODEPUSH_KEY)</string>
	<key>CodePushServerURL</key>
	<string>$(CODEPUSH_HOST)</string>
	<key>GOOGLE_ANALYTICS_REGISTRATION_WITH_AD_NETWORK_ENABLED</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>wechat</string>
		<string>snssdk1128</string>
		<string>bilibili</string>
		<string>weixin</string>
		<string>mqq</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>为了删除已导入的图片和视频</string>
	<key>NSCameraUsageDescription</key>
	<string>App会在您使用从相机导入图片和视频功能时，访问您的相机权限，为了导入图片和视频</string>
	<key>NSFaceIDUsageDescription</key>
	<string>App会在您使用面容解锁功能时，访问您的面容ID权限，为了快速解锁</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>我们需要访问您的位置信息才能自动切换显示语言</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>App会在您使用从相机录制视频功能时，访问您的麦克风权限，为了录制视频声音</string>
	<key>NSMotionUsageDescription</key>
	<string>为了让设备屏幕向下时锁定APP</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>为了保存图片和视频到相册</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>App会在您使用从相册导入图片和视频功能时，访问您的相册权限，为了导入图片和视频</string>
	<key>UIAppFonts</key>
	<array>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
